<!DOCTYPE html>
<html>
<head>
    <title>Live Video Quality Check</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="camera" width="640" height="480">
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    </div>
    <div class="video-footage-details">Requesting Camera Access</div>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

<script src="../static/js/main1.js"></script>
</body>

</html>
