<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create your account!</title>
  <link rel="stylesheet" href="../static/css/create_account.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <!doctype html>

    <html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>CodePen - Animated Login Form using Html &amp; CSS Only</title>

        <link rel="stylesheet" href="./style.css">

    </head>

    <body> <!-- partial:index.partial.html -->

        <section>         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>

                    <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
         <span class="all"><span class="triangle1"></span> <span class="triangle2"></span><span class="triangle3"></span><span class="triangle4"></span></span>
 

            <div class="signin">
                <div class="content">
                    <h2>Create Account</h2>
                    <form action="{{ url_for('process_form') }}" method="post">
                        <div class="form">
                            <div class="inputBox">
                                <input type="text" name="name" required>
                                <i>Name</i>
                            </div>
    
                            <div class="inputBox">
                                <input type="text" name="reg_no" required>
                                <i>Reg No.</i>
                            </div>
    
                            <div class="inputBox">
                                <input type="text" name="class" required>
                                <i>Class</i>
                            </div>
    
                            <div class="inputBox">
                                <input type="text" name="department" required>
                                <i>Department</i>
                            </div>
    
                            <div class="inputBox">
                                <input type="submit" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </section> <!-- partial -->

    </body>

    </html>
    <!-- partial -->

</body>

</html>