<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Server.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="header">
        <div class="buttons">
            <div class="layer">
                <div class="button1">
                    <button class="main_button take_Server">Start Server</button>
                </div>
            </div>
            <div class="layer1">
                <div class="button2">
                    <button class="main_button leave_Server">Stop Server</button>
                </div>
            </div>
        </div>
    </div>
    <div class="Info-box">
    <div class="Information">
        <div class="Section-name">Section-Name</div>
        <div class="information-detail">
            <ul id="array1-list"></ul>
        </div>
    </div>
</div>
</body>
<script defer src="../static/js/face-api.min.js"></script>
<script defer src="../static/js/Server.js"></script>
</html>